.toast-message {
    display: inline-block;
    position: relative;
    padding: var(--space-xs) var(--space-s);
    border-radius: 0.5rem;
    background-color: var(--color-red);
    color: var(--color-white);
    font-size: var(--size-step-0);
    font-weight: 400;
}