.tile {
    height: var(--space-l-xl);
    width: var(--space-l-xl);
    font-family: var(--font-base);
    font-size: var(--size-step-1);
    color: var(--color-black);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: 700;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.tile.bg-white {
    background-color: var(--color-white);
}

.tile.bg-green {
    background-color: var(--color-green);
}

.tile.bg-yellow {
    background-color: var(--color-yellow);
}

.tile.bg-dark-grey {
    background-color: var(--color-grey);
}