#keyboard {
  user-select: none;
  width: 100%;
  max-width: 42.5rem;
  padding-top: var(--space-s);
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.keyboard__row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.keyboard__key {
  font-family:  var(--font-family-base);
  font-size: var(--size-step-0);
  font-weight: bold;
  background-color: var(--color-black);
  color: var(--color-ash);
  border: 0;
  padding: 0 4px;
  margin: 0 6px 0 0;
  height: 3.5rem;
  border-radius: 4px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.keyboard__key:last-of-type {
  margin: 0;
}