section {
	height: 100vh;
	width: 100%;
	padding: var(--space-m-2xl) 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container.full-height {
	height: 100%;
}

.spacer {
	height: 6rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-align-center {
	text-align: center;
}